:root {
    --gray: #505A5B;
    --dark-gray: #343F3E;
    --bg-color: #DCEDFF;
    --secondary-bg: #94B0DA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--gray);
}

header {
    background-color: var(--bg-color);
    padding: 20px;
}

header h1 {
    padding: 20px;
    margin: 0 -20px;
    font-size: 48px;
    font-weight: bold;
    background-color: var(--secondary-bg);
}

header nav {
    margin: 10px 0;
    display: flex;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
    color: var(--gray);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--secondary-bg);
    color: var(--dark-gray);
    border-radius: 15px;
}

.hero {
    padding: 10px;
    background-image: url(../images/gray-wood-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
}

.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img img {
    width: 20%;
    height: 15%;
}

.hero-subtitle {
    background-color: var(--secondary-bg);
    position: relative;
}

.hero-subtitle span {
    position: absolute;
    bottom: 0;
    right: 0;
}

.section {
    padding: 10px;
}

.bio-text {
    flex: 0 0 70%;
    padding: 10px;
}

.work-examples {
    margin: 5px 0;
}

.project-container {
    flex: 0 0 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.first-project {
    flex: 0 0 50%;
    background-image: url(../images/run-buddy-ss.png);
    background-size: cover;
    padding: 100px 300px;
    margin: 5px;
    border: 2px solid var(--dark-gray);
}

.secondary-container, .tertiary-container {
    display: flex;
    margin: 5px;
}

.secondary-container div, .tertiary-container div {
    padding: 50px 140px;
    margin: 0 5px;
}

.second-project {
    background-image: url(../images/password-generator.png);
    background-size: cover;
    border: 2px solid var(--dark-gray);
}

.third-project {
    background-image: url(../images/password-generator.png);
    background-size: cover;
    border: 2px solid var(--dark-gray);
}

.fourth-project {
    background-image: url(../images/password-generator.png);
    background-size: cover;
    border: 2px solid var(--dark-gray);
}

.fifth-project {
    background-image: url(../images/password-generator.png);
    background-size: cover;
    border: 2px solid var(--dark-gray);
}

.contact-section {
    margin: 5px 0;
}

.contact-section nav {
    margin: 10px 0;
    display: flex;
}

.contact-section a {
    text-decoration: none;
    color: var(--gray);
}

.contact-section nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-section nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

.contact-section nav ul li a:hover {
    background: var(--secondary-bg);
    color: var(--dark-gray);
    border-radius: 15px;
}

/* UTILITY CLASSES */

.flex-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.subtitle-left {
    flex: 0 0 25%;
    border-right: 3px solid var(--secondary-bg);
    padding: 10px;
    margin: 0 1px 0 0;
}